<nav class="locations">
  <ul>
    <li><%= link_to 'Kentucky', '/facility' %></li>
    <li><%= link_to 'Maine', '/facility' %></li>
    <li><%= link_to 'New Hampshire', '/facility' %></li>
    <li><%= link_to 'Vermont', '/facility' %></li>
    <li><%= link_to 'Virginia', '/facility' %></li>
    <li><%= link_to 'West Virginia', '/facility' %></li>
  </ul>
</nav>
