<nav class="header">
  States
</nav>
<nav class="locations">
  <ul>
    <li><%= link_to 'Arizona', '/cities' %></li>
    <li><%= link_to 'California', '/cities' %></li>
    <li><%= link_to 'Colorado', '/cities' %></li>
    <li><%= link_to 'Hawaii', '/cities' %></li>
    <li><%= link_to 'Virginia', '/cities' %></li>
    <li><%= link_to 'West Virginia', '/cities' %></li>
  </ul>
</nav>
